body {
	background-color: color(display-p3 0.926 0.942 0.907);
	font-family: "Pixelify Sans", sans-serif;
	font-size: 36px;
}

.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	wdith: 100vw;
}

.monster {
	aspect-ratio: 1;
	height: auto;
	max-height: 400px;
	max-width: 400px;
	width: 100%;
}

.name {
	text-align: center;
	margin-top: max(-20%, -80px);
	width: 100%;
}